appdirs==1.4.4
arabic-reshaper==2.1.1
argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.2.1
boto3==1.17.20
botocore==1.20.20
cachetools==4.2.0
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cssselect2==0.4.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dialogflow==1.1.0
distlib==0.3.1
Django==2.1.15
django-crispy-forms==1.11.1
django-filter==2.4.0
django-mssql-backend==2.8.1
django-pyodbc-azure-2019==2.1.0.0
django-storages==1.11.1
django-xhtml2pdf==0.0.4
docopt==0.6.2
docutils==0.16
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.4.4
Flask-Uploads==0.2.1
future==0.18.2
google-api-core==1.24.1
google-auth==1.24.0
googleapis-common-protos==1.52.0
googletrans==3.1.0a0
grpcio==1.34.0
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
kiwisolver==1.3.1
langdetect==1.0.8
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
mysqlclient==2.0.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.1.5
num2words==0.5.10
numpy==1.19.4
packaging==20.8
pandas==1.1.5
pandocfilters==1.4.3
parso==0.7.1
pickleshare==0.7.5
Pillow==8.0.1
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyee==7.0.4
Pygments==2.7.3
PyJWT==1.7.1
pylint==2.6.0
pyodbc==4.0.30
pypandoc==1.5
pyparsing==2.4.7
PyPDF2==1.26.0
Pyphen==0.10.0
pyppeteer==0.2.2
pyrsistent==0.17.3
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2021.1
pywin32==300
pywinpty==0.5.7
pyzmq==20.0.0
rasa==0.0.5
reportlab==3.5.62
requests==2.24.0
rfc3986==1.4.0
rjsmin==1.1.0
rsa==4.6
s3transfer==0.3.4
scipy==1.5.4
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
sniffio==1.2.0
SQLAlchemy==1.3.21
sqlparse==0.4.1
terminado==0.9.1
testpath==0.4.4
tinycss2==1.1.0
toml==0.10.2
tornado==6.1
tqdm==4.55.0
traitlets==5.0.5
twilio==6.50.0
urllib3==1.25.11
virtualenv==20.4.2
wcwidth==0.2.5
WeasyPrint==52.3
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
xhtml2pdf==0.2.5
