{% extends "archive/base.html" %}
{% block content %}
    <h1>Upload file</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Deletion:</legend>
            <h2>Are you sure about deleting post "{{object.title}}?"</h2>
        </fieldset>
        <button type="submit" class="btn btn-outine-danger">Delete Forever</button>
        <a class="btn btn-outline-danger" href="{% url 'file-detail' object.id%}">Cancel</a>
    </form>
{% endblock %}