{% extends "archive/base.html" %}
{% load crispy_forms_tags %}
{%block content%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                
                {{ u_form|crispy  }}
                {{ p_form|crispy  }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update profile</button>
            </div>
        </form>
        
    </div>
{%endblock content%}