{% extends "archive/base.html" %}
{% load crispy_forms_tags %}
{%block content%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-5">
                    <h1>Sign Up Today</h1>
                </legend>
                {{ form|crispy  }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outine-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-5">
            <small class="text-muted">
                Already a member?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>>
        </div>
    </div>
{%endblock content%}